.container{
    text-align: center;
    border: 2px solid goldenrod;
    width: 400px;
    margin: auto;
    margin-top: 50px;
    padding: 10px 0px 25px 0px;
    border-radius: 20px;
    background-color: blueviolet;
}